body{
	background-color: #535FA6;
}
body{
	font-size: 20px;
}
.fundobranco {
	background-color: #FFFFFF;
	font-size: 20px;
	margin-left: 200px;
	margin-right: 200px;
    margin-top: 200px
    margin-bottom: 200px;
}

.container {
	width: 768px
}

.form-control {
	font-family: Arial;

}

.form-check-label {
	font-size: 15px
}

.form-control-file {
	font-size: 13px
}